@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 13.3%;
    --foreground: 0 0% 94.9%;

    --card: 0 0% 16%;
    --card-foreground: 0 0% 94.9%;

    --popover: 0 0% 13.3%;
    --popover-foreground: 0 0% 94.9%;

    --primary: 45 65.5% 51.6%;
    --primary-foreground: 0 0% 13.3%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 94.9%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 45 65.5% 51.6%;
    --accent-foreground: 0 0% 13.3%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 22%;
    --input: 0 0% 22%;
    --ring: 45 65.5% 51.6%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13.3%;
    --foreground: 0 0% 94.9%;

    --card: 0 0% 16%;
    --card-foreground: 0 0% 94.9%;

    --popover: 0 0% 13.3%;
    --popover-foreground: 0 0% 94.9%;

    --primary: 45 65.5% 51.6%;
    --primary-foreground: 0 0% 13.3%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 94.9%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 45 65.5% 51.6%;
    --accent-foreground: 0 0% 13.3%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 22%;
    --input: 0 0% 22%;
    --ring: 45 65.5% 51.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
